@charset "utf-8";
/* CSS Document */
/* IMAGE GALLERY*/
.img-galleryButtons button{

    text-align: center;
    
	margin: 10px;

}

.button {
    background-color: white; 
    border: 2px solid black;
    color: black;
    padding: 3px 15px;
	margin:20px 0px 5px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-family: inherit;
} 
.button:hover {
	cursor: pointer;
	font-weight: bold;
}
.button:active {
	cursor: pointer;
	font-weight: bold;
}

.img-gallery {

    text-align: center;


}
.img-gallery img:hover {
	opacity: 0.8;
}
.cake {
	margin: 10px;

    position: relative;

    transition: opacity 0.5s ease-in;
	

}
.birthdayCake {

    position: relative;

    transition: opacity 0.5s ease-in;

}

.weddingCake {

    position: relative;

    transition: opacity 0.5s ease-in;

}
/* FORM*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #F77074;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Brandon Grotesque", sans-serif;
	color: black;
	font-size: 15px;
}
input[type=email] {
    width: 100%;
    padding: 12px;
    border: 2px solid #F77074;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Brandon Grotesque", sans-serif;
	color: black;
	font-size: 15px;
}
input[type=date] {
	padding: 5px;
	margin: 7px 0px;
	border: 2px solid #F77074;
    border-radius: 1px;
	text-align: center;
}
input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid #F77074;
    border-radius: 2px;
    cursor: pointer;
	text-transform: uppercase;
	transition: all 0.4s ease-in;
	text-align: center;
	padding: 13px 20px;
	font-size: 16px;
}

input[type=submit]:hover {
    background-color: #F77074;
	color: white;
}
form {
	width: 70%;
    border: solid 2px #F77074;
	border-radius: 2px;
    background-color: white;
    padding: 25px;
	text-transform: uppercase;
	margin-bottom: 30px;
	display: inline-block;
}


